<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>周星榜</title>
    <script src="../../../Public/Home/sun/js/mui.min.js"></script>
    <link href="../../../Public/Home/sun/css/mui.min.css" rel="stylesheet"/>
	<link href="../../../Public/Home/sun/css/new_file.css" rel="stylesheet" type="text/css"/>
	<!-- <script src="lottie.js"></script> -->
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<!-- <script>
	    var animData = {
	        wrapper: document.getElementById('bodymovin'),
	        animType: 'html',
	        loop: true,
	        prerender: true,
	        autoplay: true,
	        path: '123.json'
	    };
	    var anim = bodymovin.loadAnimation(animData);
	</script> -->
	<style type="text/css">
		.mui-table-view:before {
			position: absolute;
			right: 0;
			left: 0;
			height: 0px !important;
			content: '';
			-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
			background-color: #c8c7cc;
			top: -1px;
		}
		.mui-col-sm-4{
			height: 38vw;
		}
		.mui-table-view:after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 0px !important;
			content: '';
			-webkit-transform: scaleY(.5);
			transform: scaleY(.5);
			background-color: #c8c7cc;
		}
		
		img {
			display: block;
		}
		.mui-table-view-cell:after{
			height:0
		}
		.text-p{
			width: 80%;
			margin-left:10%;
			color: #FFFFFF;
			padding-top: 2vw;
			font-size: 3vw;
			line-height: 1.7;
		}
		
	
	</style>
</head>
<body>
	<div class="banner">
		<img class="bannerbg" src="../../../Public/Home/sun/images/banner.png" />
	</div>
	<!-- 上周周星榜 -->
	<div class="taskRules" style="height: 201.5vw;">
		<img class="bordertop" src="../../../Public/Home/sun/images/border_star1.png" />
			<!--排行榜前三-->
			<div class="itemul">
				<div style="margin-top: 0vw;height: 42vw;">
				<img src="../../../Public/Home/sun/images/1234.png" alt="" class="ranking-img">
				<!-- 排行榜第三 -->
				<div class="task" style="float: left;margin-top: 7%;width: 22vw;margin-left: 15%;height: 31vw;position: relative;">
                    <volist name="result" id="topinfo3" offset="1" length='1'>
                        <div ><img class="taskRules-hean-img" src="{$topinfo3.avatar}"></div>
                        <div>
                            <p class="taskRules-hean-font">{$topinfo3.nickname}</p>
                        </div>
                        <div class="taskRules-hean-box">
                            {$topinfo3.coin}
                        </div>
                    </volist>
				</div>
				<!-- 排行榜第一 -->
				<div class="task2" style="float: left;margin-top: 2%;width: 22vw;margin-left: 1%;height: 31vw;position: relative;">
					<volist name="result" id="topinfo" offset="0" length='1'>
                        <img class="taskRules-hean-img" src="{$topinfo.avatar}">
                        <div>
                            <p class="taskRules-hean-font">{$topinfo.nickname}</p>
                        </div>
                        <div class="taskRules-hean-box">
                            {$topinfo.coin}
                        </div>
                    </volist>
				</div>
				<!-- 排行榜第二 -->
				<div class="task3" style="float: left;margin-top: 7%;width: 22vw;margin-left: 1.5%;height: 31vw;position: relative;">
                    <volist name="result" id="topinfo2" offset="2" length='1'>
                        <img  class="taskRules-hean-img" src="{$topinfo2.avatar}">
                        <div>
                            <p class="taskRules-hean-font">{$topinfo2.nickname}</p>
                        </div>
                        <div class="taskRules-hean-box">
                            {$topinfo2.coin}
                        </div>
                    </volist>
				</div>
			</div>
			<!--排行榜前七名-->
                <volist name="result" id="info7" offset="3" length='7'>
                    <div class="task4" >
                        <div class="task-list-number">{$info7.num}</div>
                        <img class="task-list-img" src="{$info7.avatar}" alt="">
                        <div class="task-list-name">{$info7.nickname}</div>
                        <div class="task-list-integral">{$info7.coin}</div>
                        <div class="task-list-integrals">积分</div>
                    </div>
                </volist>
			<!--本人数据-->
			<div class="task-my" >
				<div class="task5" style="width:82%; margin: 0 auto;padding-top: 2vw;">
                    <if condition="$myinfo.num eq 未上榜">
                        <div class="task-list-unnumber" style="padding: 0;" >{$info.num}</div>
                        <img class="task-list-img" src="{$info.avatar}" alt="">
                        <div class="task-list-name">{$info.nickname}</div>
                        <div class="task-list-integral">{$info.coin}</div>
                        <div class="task-list-integrals">积分</div>
                        <else />
                        <div class="task-list-unnumber" style="padding:0;" >{$info.num}</div>
                        <img class="task-list-img" src="{$info.avatar}" alt="">
                        <div class="task-list-name">{$info.nickname}</div>
                        <div class="task-list-integral">{$info.coin}</div>
                        <div class="task-list-integrals">积分</div>
                    </if>
				</div>
			</div>
		</div>
			</div>
		<img class="bordertop" src="../../../Public/Home/sun/images/bottom_star.png" />
			
	</div>
	<div style="font-size: 3vw;text-align: center;padding-bottom: 2vw;color: rgba(255,255,255,0.8);">本活动与苹果公司无关</div>	
	</body>
	
</body>
</html>